# Đường dẫn thư mục lưu ảnh cục bộ trên máy host (phục vụ việc chạy Docker Compose)
HOST_IMAGE_PATH=C:\Program Files\DVMS System\DVMS Server\EventData

# Giờ làm việc cấu hình ca
SHIFT_START_TIME=07:30
SHIFT_END_TIME=17:00
