node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
/apps/frontend/dist-electron
/apps/backend/generated
/apps/backend/generated
/apps/backend/generated
/apps/frontend/dist-electron
CMS FaceID Setup 0.0.1.exe/CMS FaceID Setup 0.0.1.exe
