# Cổng chạy ứng dụng Backend
PORT=3001

# Connection string PostgreSQL cho database cms_webserver
CMS_WEBSERVER_DATABASE_URL=postgresql://postgres:your_secure_password@postgres-db:5432/cms_webserver?connect_timeout=15

# Connection string PostgreSQL cho database dvms_server
DVMS_DATABASE_URL=postgresql://postgres:@host.docker.internal:5433/dvms_server?connect_timeout=15

# Connection string PostgreSQL cho database lcms_server
LCMS_DATABASE_URL=postgresql://postgres:@host.docker.internal:5433/lcms_server?connect_timeout=15&pooling=true&minpoolsize=0&maxpoolsize=200

# Đường dẫn cục bộ lưu trữ hình ảnh/media trên host machine
IMAGE_LOCAL_PATH=C:/path/to/images

# Đường dẫn mount hình ảnh/media trong Docker container (nếu có)
IMAGE_MOUNT_PATH=/app/event-images
